.title {
  background: rgb(121, 242, 157);
}
.mainContainer {
  margin: 40px;
}
.monthTd {
  vertical-align: top;
}
.calendarTable {
  border-collapse: separate;
  border-spacing: 2px;
}
.calendarDay {
  background-color: #ccc;
  border-radius: 2px;
  border: 1px solid #ddd;
  margin: 5px;
  width: 15px;
  height: 15px;
}
.timeline {
  position: fixed;
  margin: 20px;
}
.articleCard {
  margin-bottom:  20px;
}
.addBtn {
  position: fixed;
  bottom: 40px;
  margin: 40px;
}